.popular-track-container {
  h2 {
    margin-bottom: 48px;
  }
}

.tracks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 50px;
  row-gap: 25px;
}

.popular-track {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12.8px;
  
  img {
    width: 55px;
    height: 55px;
  }

  .track-info {
    padding-left: 15px;
    flex: 1 0 auto;

    .track-name {
      font-size: 12.8px;
      margin: 0;
    }

    .track-artist {
      margin: 0;
      color: $light;
    }
  }

  .track-duration {
    color: $light;
  }
  
}

@media screen and (max-width: 1239px) {
  .tracks {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
}