.similar-container {
  margin-bottom: 100px;

  h2 {
    margin-bottom: 48px;
  }
}

.similar-artist-list {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 50px;
  row-gap: 25px;
}

.similar-artist-item {
  .artist-name {
    margin-bottom: 0;
    margin-top: 12px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
  }

  .artist-followers {
    margin: 0;
    text-align: center;
    color: $light;
  }
}

@media screen and (max-width:1239px) {
  .similar-artist-list {
    grid-template-columns: repeat(2, 137px);
    grid-template-rows: repeat(4, 1fr);
  }

  .similar-artist-item {
    img {
      width: 137px;
      height: 137px;
    }
  }
}