.bg-artist {
  background-image: url("../images/background/Morten\ Harket.png");
  background-position: center;
  background-size: cover;
}

.description-container-artist {
  padding-top: 250px;
  padding-bottom: 223px;
  
  h1 {
    text-align: left;
  }

  p {
    margin-bottom: 48px;
  }
}

.buttons {
  display: flex;
  gap: 24px;

  .artist-button {
    position: relative;
    padding-left: 67px;
    box-sizing: border-box;
    width: 200px;
    height: 62px;
    text-transform: uppercase;
    border: none;
    font-size: 12.8px;
    text-align: left;
  }

  .button-mix {
    background-color: $purple;
    &::before {
      position: absolute;
      width: 20px;
      height: 20px;
      top: 21px;
      left: 31px;
      background-image: url("../images/icons/play-button.svg");
      filter: invert(1);
      content: "";
    }
  }

  .button-liked {
    background-color: $brown;

  &::before {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 21px;
    left: 31px;
    background-image: url("../images/icons/heart.svg");
    filter: invert(1);
    content: "";
    }
  }
}

@media screen and (max-width: 1239px) {
  .description-container-artist {
    padding-top: 225px;
  }

  .buttons {
    flex-direction: column;
  }
}
