.footer-container {
  padding-top: 62px;
  padding-bottom: 64px;
}

.footer-nav {
  display: flex;
  column-gap: 40px;

  &-col {
    flex: 1 0 270px;

    h4 {
      margin: 0 0 15px;
    }
  }
}

.footer-subscribe-list {
  padding-top: 6px;
  display: flex;
  column-gap: 24px;
  align-items: center;
}

.footer-icon {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.icon-google {
  width: 26px;
  height: 17px;
  background-image: url("../images/icons/Google+.png");
}

.icon-twitter {
  width: 22px;
  height: 19px;
  background: url("../images/icons/Twitter.png");
}

.footer-line {
  box-sizing: border-box;
  height: 2px;
  background-color: $text-color;
  border: none;
}

.footer-bottom {
  padding-top: 2rem;
  padding-bottom: 49px;

  &-list {
    display: flex;
    gap: 16px;
  }
}

.bg-gradient {
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

@media screen and (max-width <= 1239px) {
  .footer-container {
    padding-bottom: 67px;
  }
  .footer-nav {
    flex-direction: column;
    row-gap: 30px;

    &-col {
      flex: 1 0 0;
    }
  }

  .footer-bottom-list {
    flex-direction: column;
  }
}
