@font-face {
  font-weight: 400;
  font-family: Roboto;
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-weight: 500;
  font-family: Roboto;
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-weight: 700;
  font-family: Roboto;
  src: url("../fonts/Roboto-Bold.ttf");
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: $white;
  background-color: $bg-color;
}

h1,
h2,
h3 {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-weight: normal;
  font-size: 24px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.link {
  text-decoration: none;
  cursor: pointer;
}

.button {
  padding: 20px 30px;
  border-radius: 5px;
  font-family: Roboto, sans-serif;
  color: $white;
  cursor: pointer;
}

.button-transparent {
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid $white;
}

@media screen and (max-width: 1239px) {
  h1 {
    font-size: 30px;
  }
  
  h2 {
    font-size: 18px;
  }
  
  h3 {
    font-size: 16px;
  }

  .container {
    box-sizing: border-box;
    width: 100%;
    padding: 0 20px;
  }

}